<!-- Incluir o head -->
<%- include('./partials/head') %>

<body>
  <!--menu-->
  <%- include('./partials/navbar') %> 

  <% if (typeof aviso !== 'undefined') { %>
    <% var titulo = "Alterar Aviso" %>
    <% var rota = "/avisos/editar/"+aviso.ID_aviso %> 
  <% } else { %>
    <% var titulo = "Novo Aviso" %>
    <% var rota = "/avisos/novo" %> 
  <% } %>
   
  
  <div class="container">
    <br><br>

    <a href="#"><i class="fas fa-long-arrow-alt-left"></i> Voltar</a><br><br>

    <% if (typeof msg !== 'undefined') { %>

    <% if (msg.tipo === 'sucesso') { %>

      <div class="alert alert-success alert-dismissible fade show p-4" role="alert">
        <strong><i class="fas fa-check-circle"></i> Sucesso!</strong>
        <%= msg.corpo %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <% } %>
    <!-- Fim do if sucesso -->

    <% if (msg.tipo === 'erro') { %>
      <div class="alert alert-danger alert-dismissible fade show p-4" role="alert">
        <strong><i class="fas fa-times"></i> Erro! </strong>
        <%= msg.corpo %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    <% } %>
    <!-- Fim do if erro -->

    <% } %>
    <!-- Fim do if typeof -->

    <div class="card shadow">
      <div class="card-header bg-purple text-white pl-5 p-4">
        <h2><i class="fas fa-plus-circle"></i> <%= titulo %>  </h2>
      </div>
      <div class="card-body p-5">
        <form action="<%= rota %>" method="POST">

          <% if (typeof aviso !== 'undefined') { %>
            <div class="form-group">
              <label for="titulo">ID aviso</label>
              <input id="id" name="id" type="text" class="form-control" required value="<%= aviso.ID_aviso %>" readonly>
            </div>
          <% } %>

          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" type="text" class="form-control" required  value="<%= typeof aviso != 'undefined' ? aviso.titulo : null %>" placeholder="Digite o Título do aviso">
          </div>
          <div class="form-group">
            <label for="data">Data</label>
            <input id="data" name="data" type="date" class="form-control" value="<%= typeof aviso != 'undefined' ? moment(aviso.data).format('YYYY-MM-DD') : null %>">
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" name="mensagem" cols="40" rows="5" class="form-control" required placeholder="Digite o aviso completo aqui"><%= typeof aviso != 'undefined' ? aviso.mensagem : null %></textarea>
          </div>
          <div class="form-group text-right">
            <button name="submit" type="submit" class="btn btn-secondary">Limpar</button>
            <button name="submit" type="submit" class="btn btn-primary"><%= typeof aviso != 'undefined' ? "Alterar" : "Cadastrar" %></button>
          </div>
        </form>
      </div><!-- card-body -->
    </div><!-- card -->

  </div><!-- container -->

  <!-- incluir os scripts do bootstrap -->
  <%- include('./partials/scripts_import') %>
</body>

</html>
